{% extends "base.html" %}
<!--  -->
{% block content %}
<!--  -->

<div
    class="d-flex justify-content-center align-items-center flex-column"
    style="height: 88vh"
>
    <div class="text-center">
        <h5 style="font-size: 80px; font-weight: bold">Welcome!!!</h5>
        <a
            href="/experience"
            class="text-dark"
            style="font-size: 50px; font-weight: medium"
        >
            Click here to see more
        </a>
    </div>
</div>

<!-- end content -->
{% endblock content %}
